/* body html */
body, html
{
  width: 100%; /*makes the website fit to the edges*/
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
    background-color:#f3f2da;
    margin-bottom: -10px;
}

/* Header */

.sky {
  background-color: #578fca;
  overflow: hidden;
}

#sun {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 140px;
  
}

.exploreHeader {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Nav Bar */

.navHills{
  padding: 0px;
  border: 0px;
  display: inline-block;
}

.navHills img {
  display: block;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
  margin-bottom: -15px;
}

.navBar{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navBar a{padding-left: 2%; padding-right: 2%;}

/* CSS for Headings and font */

h1{
  margin-left: 15px;
  font-family: 'baloo';
  color: #ea97ad;
  font-size: 50px;
  margin-top: -20px;
}

h2{
    margin-left: 15px;
    font-family: 'baloo';
    color: #ea97ad;
    font-size: 34px;
}

h3 {
    margin-left: 15px;
    font-family: 'baloo';
    color: #ea97ad;
    font-size: 15px;
}

h4 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #4e8d7c;
  margin-left: 10%;
  margin-right: 10%;
}

.Title {
    color: #1e4451;
    font-size: 80px;
    font-family: 'Baloo';

}

/* CSS for links */

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #ea97ad;
}

a:active {
  text-decoration: none;
  color: #ea97ad;
}

/* footer */

.footerHills {
  background-color: #578fca;
  margin-bottom: 0px;
  margin-top: -20px;
  padding: 0%;
}

.footerHills img {
  margin-top: -15px;
}
.footer {
  
  background-color:#578fca;
  margin-top: -15px;
  width: 90%;
  padding: 15px;
  display: flex;
}

.footer div{
  text-align: center;
  padding: 20px;
}

.foot3 a{
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer div h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
