/* body html */
body, html
{
  width: 100%; /*makes the website fit to the edges*/
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
    background-color:#4e8d7c;
    margin-bottom: -10px;
}

/* Nav Bar */

.navHills{
  padding: 0px;
  border: 0px;
  display: inline-block;
}

.navHills img {
  display: block;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
  margin-bottom: -15px;
}

.navBar{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navBar a{padding-left: 2%; padding-right: 2%;}

/* Header */

.sky {
  background-color: #578fca;
  overflow: hidden;
}

#sun {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 140px;
  
}

/* Headings and font CSS */

.Title {
  color: #1e4451;
  font-size: 80px;
  font-family: 'Baloo';

}

h1{
  margin-top: 0px;
  padding: 10px;
  font-family: 'baloo';
  color: #f3f2da;
  font-size: 50px;
}

h3 {
  font-family: 'baloo';
  color: #4e8d7c;
  font-size: 30px;
}

h4 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #4e8d7c;
  margin-left: 10%;
  margin-right: 10%;
}

h5{
  margin-top: 0px;
  padding: 15px;
  font-family: 'baloo';
  color: #f3f2da;
  font-size: 30px;
  text-align: center;
}

#p {
  color: white;
}

.infoText p {
  margin-left: 15px;
  margin-right: 15px;
}

/*Topics*/

.Topics {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topicLinks {
  display: grid;
  grid-template-columns: repeat(2, auto); /* 2 columns */
  grid-template-rows: repeat(2, auto);   /* 2 rows */
  text-align: center;
  gap: 20px;
}

.topicLinks a {
  padding: 10px 15px;
  background-color: #ea97ad;
  border-radius: 32px;
  text-decoration: none;
  font-family: 'baloo';
  color: #f3f2da;
  font-size: 24px;
}

.topicLinks h5 {
  grid-column: span 2; /* make the title span across both columns */
  margin: 0;
  font-size: 40px;
  color: #f3f2da;
}

/* boxes*/

#boxes {
  color:#ea97ad;
  border-radius: 25px;
  background: #f3f2da;
  padding: 20px; 
  width: auto;
  height: auto;  
  padding-bottom: 100px;
  margin: 30px;
} 

/* CSS for links */

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #ea97ad;
}

a:active {
  text-decoration: none;
  color: #ea97ad;
}

.content {
  background-color: #4e8d7c;
}

/* cloud buttons*/

#cloudButtons {
  text-align: center;
}

/* footer */

.footerHills {
  background-color: #A1E3F9;
  margin-bottom: 0px;
  margin-top: -20px;
  padding: 0%;
}

.footerHills img {
  margin-top: -15px;
}
.footer {
  
  background-color: #A1E3F9;
  margin-top: -15px;
  width: 90%;
  padding: 15px;
  display: flex;
}

.footer div{
  text-align: center;
  padding: 20px;
}

.foot3 a{
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer div h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
